build/
/build_*/
.vscode/

*~
*.a
*.inc
*.mod
*.o
*.x
*.pyc
*.orig
*.swp
*.UPF
*.log
*.dvi
*.toc
*.aux
*_tmp.f90
*.TMP
#*.out

bin/*
FoX
MBD
include/configure.h
include/qe_cdefs.h
install/config.log
install/config.status
install/configure.msg
install/make-*
install/configure-*
install/uncompress-*
make.depend
test-suite/*/test.err.*
test-suite/*/test.out.*
test-suite/*/pwscf*
test-suite/userconfig
*/results
S3DE
D3Q
W90
archive/wannier90-*tgz
wannier90-*
devicexlib
tempdir
tags
EPW/src/tmp
LAXlib/*.fh
**/CRASH
**/pwscf.xml

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store

# Task files
# tasks.json
# tasks/ 
